::-webkit-scrollbar {
	width: 8px;
	background-color :  black;
}
 
::-webkit-scrollbar-track {
	//-webkit-box-shadow: inset 0 0 6px  rgba(85, 200, 300, 1);
	border-radius: 10px;
	background-color :  #C7171;
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color :  rgba(85, 200, 300, 1);
	-webkit-box-shadow: inset 0 0 6px  white; 
}


#loader
{
	left : 35%;
	top : 35%;
	position : absolute;
	box-shadow : 1px 1px 40px 2px rgba(85, 200, 300, 1);
	height : 200px;
	width : 400px;
	border-style : solid;
	border-width : 1px;
	border-radius : 5px;
}

#progress
{
	margin-left : auto;
	margin-right : auto;
	margin-top : -8px;
	width : 100%;
	height : 100%;
	background : white;
	//font-family : "Courier New";
	position : fixed;
	z-index : 10;
}

html
{
	max-height : auto;
	overflow : hidden;
	//overflow : hidden;
	//background-color: #026873;
	//background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
	//linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
	//linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
	//linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	//background-size: 13px, 29px, 37px, 53px;
	background : url(green_dust_scratch.png);
	background-repeat : repeat;
	font-size : 14px;
	font-family : Arial;
	text-shadow : 0px 0px 1px;
}

#main_box
{
	position : relative;
	height : 90%;
	width : 80%;
	padding-top : 0px;
	margin-left : auto;
	margin-right : auto;
	border-style : solid;
	border-width : 0px;
	//border-color : F7F09E;
	border-radius : 5px;
	background-color : white;
	box-shadow : 40px 0px 80px -50px, -40px 0px 80px -50px, 0px 1px 2px 0px grey;
}

#status
{
	//box-shadow : 5px 5px 10px 2px;
	//min-height : 20px;
	min-width : 97%;
	position : absolute;
	border-style : solid;
	border-width : 0px;
	border-radius : 5px;
	//background-color : orange;
	padding-left : 20px;
	padding-top : 5px;
	//font-family : "Courier New";
}

#connected
{
	box-shadow : 0px 0px 8px 0px #C4C4C4 inset;
	//background-color : #E6E6E6;
	min-width : 20%;
	max-width : 20%;
	min-height : 90%;
	//font-family : "Courier New";
	position : absolute;
	margin-left : 5px;
	margin-right : 10px;
	top : 30px;
	left : 0px;
	border-style : solid;
	border-width : 0px;
	border-radius : 2px;
	//border-right : 1px solid orange;
	padding-left : 20px;
	padding-top : 10px;
	padding-right : 10px;
        padding-bottom : 10px;
        overflow : auto;
        overflow-x : hidden;
        word-wrap : break-word;
}

#display
{
	background-color : white;
	//box-shadow : 5px 5px 10px 2px;
	min-width : 70%;
	max-width : 70%;
	min-height : 70%;
	max-height : 70%;
	//font-family : "Courier New";
	position : absolute;
	//display : inline;
	margin-left : 10px;
	margin-right : 10px;
	top : 30px;
	right : 0px;
	//background-color : #71736B;
	border-style : solid;
	border-width : 0px;
	border-radius : 5px;
	padding-left : 20px;
	padding-top : 15px;
	padding-right : 10px;
	padding-bottom : 10px;
	overflow : auto;
	overflow-x : hidden;
	word-wrap : break-word;
	background : url(grey_wash_wall.png);
	background-repeat : repeat;
	//box-shadow : 0px -3px 10px -3px inset;
}

#text
{
	margin-right : 20px;
}

#input
{
	outline : none;
	//font-family : "Courier New";
	min-height : 55px;
	max-height : 70px;
	padding-left : 8px;
	padding-top : 3px;
	background-color : white;
	min-width : 45%;
	max-width : 45%;
	position : absolute;
	right : 28%;
	bottom : 7%;
	//bottom : 1%;
	//left : ;
	border : 1px solid #A4A4A4;
	border-radius : 3px;
	border-color : rgba(85, 200, 300, 1);
	overflow-y : auto;
	overflow-x : hidden;
}

#input:focus
{
	border : 1px solid rgba(85, 200, 300, 1);
	box-shadow : 0 0 10px 3px rgba(85, 200, 300, 1);
}


#button_wrapper
{
	//border-radius : 5px;
	//box-shadow : 3px 3px 5px 2px;
	position : absolute;
	bottom : 8%;
	right : 6%;
	//font-family : "Courier New";
	padding-top : 3px;
}

.button
{
	min-height : 30px;
	min-width : 70px;
	//font-size : 18px;
	color : white;
	border-style : solid;
	border-width : 0px;
	border-radius : 5px;
	text-shadow : 0px 0px 2px white;
	background : rgb(66, 184, 221);
}

#time_wrapper
{
	position : relative;
	//font-faminly : "Courier New";
	margin-left : auto;
	margin-right : auto;
}

#msg_wrapper
{
	padding : 10px;
	//font-family : "Courier New";
	background-image : url(whitey.png);
	background-repeat : repeat;
	border-style : solid;
	border-width : 1px;
	border-radius : 3px;
	border-color : #C7C9C1;
	box-shadow : 8px 0px 10px -5px, -8px 0px 10px -5px;
}
