#loader
{
	left : 35%;
	top : 35%;
	position : absolute;
	box-shadow : 1px 1px 40px 2px orange;
	height : 200px;
	width : 400px;
	border-style : solid;
	border-width : 1px;
	border-radius : 5px;
}

#progress
{
	margin-left : -8px;
	margin-top : -8px;
	width : 100%;
	height : 100%;
	background : white;
	font-family : "Courier New";
	position : absolute;
	z-index : 10;
}

html
{
	min-height : 100%;
	max-height : auto;
	overflow : scroll;
	overflow-x : hidden;
	background-color: #026873;
	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;
}

body
{
	height : 100%;
	width : 100%;
}

#status
{
	box-shadow : 5px 5px 10px 2px;
	min-height : 20px;
	min-width : 97%
	max-width : 97%;
	border-style : solid;
	border-width : 1px;
	border-radius : 3px;
	background-color : #E6E6E6;
	padding-left : 20px;
	padding-top : 5px;
	font-weight : bold;
	font-family : "Courier New";
}

#connected
{
	box-shadow : 5px 5px 10px 2px;
	background-color : #E6E6E6;
	min-width : 15%;
	max-width : 15%;
	min-height : 80%;
	max-height : 80%;
	font-family : "Courier New";
	position : fixed;
	top : 45px;
	border-style : solid;
	border-width : 1px;
	border-radius : 5px;
	padding-left : 20px;
	padding-top : 10px;
	padding-right : 10px;
        padding-bottom : 10px;
        overflow : scroll;
        overflow-x : hidden;
        word-wrap : break-word;
}

#display
{
	left : 19%;
	background-color : white;
	box-shadow : 5px 5px 10px 2px;
	min-width : 77%;
	max-width : 77%;
	min-height : 80%;
	max-height : 80%;
	font-family : "Courier New";
	position : fixed;
	top : 45px;
	background-color : #71736B;
	border-style : solid;
	border-width : 1px;
	border-radius : 5px;
	padding-left : 20px;
	padding-top : 15px;
	padding-right : 10px;
	padding-bottom : 10px;
	overflow : scroll;
	overflow-x : hidden;
	word-wrap : break-word;
	background : url(https://dl.dropboxusercontent.com/u/83647303/giftly.png);
	background-repeat : repeat;
}

#text
{
	margin-right : 20px;
}

#input
{
	outline : none;
	font-family : "Courier New";
	min-height : 20px;
	max-height : 100px;
	padding-left : 8px;
	padding-top : 3px;
	background-color : white;
	min-width : 89%;
	max-width : 89%;
	position : fixed;
	bottom : 1%;
	left : 8px;
	border : 2px solid #A4A4A4;
	border-radius : 8px;
	overflow : scroll;
	overflow-x : hidden;
}

#input:focus
{
	border : 1px solid rgba(85, 200, 300, 1);
	box-shadow : 0 0 30px 3px rgba(85, 200, 300, 1);
}


.button
{
	border-radius : 5px;
	box-shadow : 3px 3px 5px 2px;
	position : absolute;
	bottom : 1%;
	font-family : "Courier New";
	padding-top : 3px;
}

#time_wrapper
{
	position : relative;
	font-faminly : "Courier New";
	margin-left : auto;
	margin-right : auto;
}

#msg_wrapper
{
	padding : 10px;
	font-family : "Courier New";
	background-color : #DEFC62;
	border-style : solid;
	border-width : 1px;
	border-radius : 7px;
	border-color : #C7C9C1;
	box-shadow : 1px 1px 3px 2px #C7C9C1;
}
